<!-- _includes/header.html -->
	<nav class="navbar navbar-default navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="https://dl.dropboxusercontent.com/u/26287488/ux_portfolio/index.html">Nathan Nash | UX Design</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="about.html">About</a></li>
				<li><a href="#work">Work</a></li>
				<li><a href="mailto:enquiries@nathan.mn">Contact</a></li>
			</ul>
		</div>
	</div>	
	</nav>
	<!--Video Section-->
	<div id="video" class="embed-responsive embed-responsive-16by9 container-fluid">
		<div class="tagline push">
		    <h1>Nathan Nash</h1>  
		    <h3>UX Design</h3>
		    <p  ><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>scroll to continue</p>
	    </div>
		<video id="v0" tabindex="0" preload="preload" poster="https://dl.dropboxusercontent.com/u/26287488/ux_portfolio/snow.jpg" autoplay="true" muted="true" loop="loop">
			<source src="https://dl.dropboxusercontent.com/u/26287488/ux_portfolio/Snow_00001.mp4" />
			<p>Sorry, your browser does not support the &lt;video&gt; element.</p>
		</video>
	</div>
	<!--Video Section Ends Here-->
	<section id="work" class="project project_Restor container-fluid">
		<h1>Restor</h1>
		<p>A sustainable shopping experience.</p>
		<a href="restor.html"><span class="glyphicon glyphicon-book" aria-hidden="true"></span>
Read case study</a>
	</section>
	<section class="project project_Elements container-fluid">
		<h1>Elements Mall</h1>
		<p>Interactive kiosk concept.</p>
		<a href="elements.html"><span class="glyphicon glyphicon-book" aria-hidden="true"></span>
Read case study</a>	
	</section>
	<section class="project project_Digilab container-fluid">
		<h1 >SCAD DigiLab</h1>
		<p>Service redesign.</p>
		<a href="digilab.html"><span class="glyphicon glyphicon-book" aria-hidden="true"></span>
Read case study</a>	
	</section>
	<footer>
		<p>
			<a href="http://nathan.mn" target="_blank">For more work please view my extended portfolio.</a>
		</p>
	</footer>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="//use.typekit.net/qel7kzz.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>		
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>
<!-- _includes/footer.html -->