/*Global styles*/
body {
	background:#444;
}

h1, h3 {
	font-family: helvetica;
}



/*Bootstrap styles*/
	/* navbar */
	.navbar-default {
	    background-color: #fff;
	    position: relative;
	    width: 100%;
	}

	/* title */
	.navbar-default .navbar-brand {
	    color: #292f33;
	}
	.navbar-default .navbar-brand:hover,
	.navbar-default .navbar-brand:focus {
	    color: #55acee;
	}
	/* link */
	.navbar-default .navbar-nav > li > a {
	    color: #444;
	    font-size: 18px;
	    text-shadow:1px 1px 1px #fff;
	}
	.navbar-default .navbar-nav > li > a:hover,
	.navbar-default .navbar-nav > li > a:focus {
	    color: #55acee;
	}
	.navbar-default .navbar-nav > .active > a, 
	.navbar-default .navbar-nav > .active > a:hover, 
	.navbar-default .navbar-nav > .active > a:focus {
	    color: #444;
	    background-color: #E7E7E7;
	}
	.navbar-default .navbar-nav > .open > a, 
	.navbar-default .navbar-nav > .open > a:hover, 
	.navbar-default .navbar-nav > .open > a:focus {
	    color: #fff;
	    background-color: #D5D5D5;
	}
	/* caret */
	.navbar-default .navbar-nav > .dropdown > a .caret {
	    border-top-color: #777;
	    border-bottom-color: #777;
	}
	.navbar-default .navbar-nav > .dropdown > a:hover .caret,
	.navbar-default .navbar-nav > .dropdown > a:focus .caret {
	    border-top-color: #333;
	    border-bottom-color: #333;
	}
	.navbar-default .navbar-nav > .open > a .caret, 
	.navbar-default .navbar-nav > .open > a:hover .caret, 
	.navbar-default .navbar-nav > .open > a:focus .caret {
	    border-top-color: #555;
	    border-bottom-color: #555;
	}
	/* mobile version */
	.navbar-default .navbar-toggle {
	    border-color: #DDD;
	}
	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus {
	    background-color: #DDD;
	}
	.navbar-default .navbar-toggle .icon-bar {
	    background-color: #CCC;
	}

	.navbar-collapse {
		text-align: center;
		margin: 0 auto;
	}

	@media (max-width: 767px) {

		.navbar-collapse {
			text-align: center;
		}
	}

/*Project Summaries*/
.project_thumbnail, .project_summary {
	width:50%;
}

.project_thumbnail {
	background:rgb(0,0,0);
	width: 50%;
	display: block;
}

.project_summary {
	text-align: left;
}

/*Project header*/
.project_header {
	width: 100%;
	height: 25vw;
	cursor: s-resize; 
}

	@media (max-width: 768px) {.project_header {height: 30vw;}}
	@media (max-width: 400px) {.project_header {height: 40vw;}}


.project_title {
	color: rgb(255,255,255);
	font-size:8vw;
}

	@media (min-width: 768px) {.project_title {height: 8vw;}}
	@media (min-width: 320px) {.project_title {height: 10vw;}}

.project_description {
	font-size: 3vw;
}
	@media (min-width: 768px) {.project_description {height: 3vw;}}
	@media (min-width: 320px) {.project_description {height: 3vw;}}


/*Homepage styles*/
	/*Video*/
	#video {
		position: relative;
		z-index: -1;
		cursor: s-resize;
		background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
	}

	/*Tagline*/
	.tagline {
		position: relative;
		z-index: 1;
		color: #fff;
		text-align: center;
		padding-top: 13%;
	}

	.tagline h1 {
		font-size:8vw;
		text-shadow:1px 1px 2px rgba(0,0,0, 0.3);

	}

	.tagline h3 {
		font-size: 3vw;
		margin-bottom: 30px;
		font-weight: 100;
		text-shadow:1px 1px 2px rgba(0,0,0, 0.3);		
	}

	.tagline p {
		font-size: 1.15vw;
	}

	/*Portfolio title and paragraph styles*/
	.project {
		text-align: center;
		padding-top: 5%;
		padding-bottom: 10%;
		color: #fff;
		background-color:rgb(255,255,255);
		border-bottom:1px solid rgb(201,201,201);
	}

	/*Button styles*/
	section a, section a:link,  section a:active, section a:visited {
		font-size:2vw;
		color:#000;
		border: 1px solid #000;
		border-radius: 50px;
		padding: 16px;
		font-weight: 300;
		text-decoration: none;
	}

	@media (min-width: 320px) {section a, section a:link,  section a:active, section a:visited {font-size:3vw;padding:8px;}}	
	@media (min-width: 768px) {section a, section a:link,  section a:active, section a:visited {font-size:2vw;padding:16px;}}	


	section a:hover {
		background:#000;
		color:#fff;
	}

	section h1 {
		font-size:4vw;
		color:#000;
	}

	section p {
		font-size: 3vw;
		padding:0 0 2vw 0;
		color:#66757f;
	}

	.project_gradient {
		background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
	}

/*Project page styles*/
.article_cover {
	padding-top: 4%;
	text-align: center;
	color:#fff;
	text-shadow:1px 1px 2px rgba(0,0,0, 0.3);
}

.content {
	background: #ededed;
	padding: 0;
	margin: 0;
	text-align: left;
	padding: 40px 25% 40px 25%;
}

	@media (max-width: 768px) {.content {padding: 40px 17% 40px 17%;}}
	@media (max-width: 320px) {.content {padding: 40px 5% 40px 5%;}}	


	.content h1, .content h2, .content h3, .content p {
		color: #444;
		text-shadow:none;
	}

	.content h2 {
		font-size: 24px;
	}

	.content p {
		font-size: 16px;
		padding: 0;
	}

	.content a,
	.about a,
	.content a:link,
	.about a:link,
	.content a:visited,
	.about a:visited,
	.content a:active,
	.about a:active {
		font-size: 16px;
		color: #444;
		border:none;
		padding: 0;
		font-weight: 300;
	}

	.content a:hover, .about a:hover {
		text-decoration: underline;
		background: #fff5b5;
	}

	.content img {
		width: 75%;
		height: 75%;
		margin:0 auto;
	}

/*About*/
.about {
	margin:10px auto 10px auto;
	width: 100%;
	text-align: center;
}

	.about h3 {
		text-shadow:none;		
	}

.panel p {
	font-size: 16px;
	color: #444;
	text-align: left;
}

/*Article footer*/
.the_end {
	text-align: center;
	margin-top: 40px;
	background: #ededed;
	border: 1px solid #d3d3d3;
	height: 42vw;
	padding-top: 15%;
}

	.the_end h1, .the_end p {
		margin: 0;
		padding: 0;
	}

	.the_end h1 {
		font-size: 3vw;
		padding-bottom: 11.7%;
	}

		@media (max-width: 767px) {.the_end h1 {padding-bottom: 13%;}}
		@media (max-width: 400px) {.the_end h1 {padding-bottom: 17%;}}	

/*Footer styles*/
footer {
	height: 42px;
	text-align: center;
	margin:0 auto;
	padding-top: 10px;
	background:#fff;
}

footer a {
	display: block;
}

._prev {
	text-align: left;
	color: #555;
	width: 50%;
	height: 14vw;
	border-top: 1px solid #d3d3d3;
	border-right: 1px solid #d3d3d3;		
}

	@media (max-width: 400px) {._prev h3 {margin-top: 10px;margin-bottom: 0px;}}	

	._prev:hover {
		cursor:w-resize;
	}

	._prev h3, ._prev p {
		padding-left:2vw;
		text-shadow:none;
	}

	._prev h3 {
		font-size:3vw;
	}

	._prev p {
		font-size: 2vw;
	}

._next {
	text-align: right;
	display: block;
	width: 50%;
	height: 14vw;
	border-top: 1px solid #d3d3d3;
	float: right;
}

	@media (max-width: 400px) {._next h3 {margin-top: 10px;margin-bottom: 0px;}}	

	._next h3, ._next p {
		padding-right:2vw;
		font-size: 3vw;
		text-shadow:none;
	}

	._next h3 {
		font-size:3vw;
	}

	._next p {
		font-size: 2vw;
	}	

	._next:hover {
		cursor: e-resize;
	}


.float_left {
	float: left;
}

.float_right {
	float: right;
}

.center {
	margin: 0 auto;
	padding: 0 auto;
}

.diet {
	margin: 0;
	padding:0;
}

.bold {
	font-weight: bold;
}