<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>Nathan Nash | {{page.title}}</title>
		<!-- Bootstrap -->
		<link href="{{site.baseurl}}/includes/css/bootstrap.css" rel="stylesheet">
		<link href="{{site.baseurl}}/includes/css/style.css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	</head>
	<body>
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Nathan Nash | UI/UX Design</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/about/">About</a></li>
				<li><a href="/">Work</a></li>
				<li><a href="https://goo.gl/forms/MdZkzqP8dAyR42FW2" target="_blank">Contact</a></li>
				<li><a href="https://goo.gl/forms/Z5sezVVnd0vPitGE2" target="_blank">Hire</a></li>
			</ul>
		</div>	
	</nav>
	<section class="project_header {{page.background}}">
		<div class="article_cover">
			<h1 class="project_title">{{page.title}}</h1>
			<h2 class="project_description">{{page.subtitle}}</h2>
		</div>
	</section>	
    {{content}}
	<footer>
		<p><a href="http://cargocollective.com/nathannash" target="_blank">For more work please view my extended portfolio.</a></p>
	</footer>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="//use.typekit.net/qel7kzz.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>	
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/includes/js/bootstrap.min.js"></script>
	<script src="/includes/js/responsiveslides.min.js"></script>
	<script>
	  $(function() {
	    $(".rslides").responsiveSlides({
	    	auto:false,
	    	pager:true,
	    	nav:true,
	    	prevText: "Prev/",
	    	speed: 500,
	    	timeout: 3000
	    });
	  });
	</script>	
	</body>
</html>  